 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    background-color: #FFE0FC;
}
header {
    background-color: #fff;
    height: 64px;
}
header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 64px;
}
.container img {
    padding-left: 74px;
    width: 142px;
    height: 18px;
}

main img {
    width: 100%;
    height: 280px;
}
.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.conteudo-principal h1 {
    width: 360px;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 40px;
}
.conteudo-principal button {
    width: 198px;
    height: 44px;
    background-color: #000;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    height: auto;

}
.conteudo-texto {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: auto;
}
.conteudo-texto p {
    width: 600px;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.conteudo-texto .bold {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.botao-secundario {
    width: 600px;
}
.botao-secundario button {
    width: 145px;
    height: 44px;
    background-color: #000;
    border: none;
    border-radius: 2px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 20px 0;
}
.footer-conteudo {
    display: flex;
    flex-direction: column;
    width: 600px;
}
.footer-conteudo--info p {
    padding: 8px 0;
}
footer div p { 
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
footer div a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    text-decoration: underline #aaa;
}
.footer-img img {
    padding: 0 5px;
}
@media (max-width: 768px) {

    body {
        width: 100vw;
        height: 860px;
    }

.container {
    width: 600px;
}


main img {
    width: 100%;
    height: 187px;
}
.conteudo-texto p {
    font-size: 16px;
}

.conteudo-secundario {
    width: 100%;
}
.botao-secundario button {
    margin-top: 50px;
    margin-left: 0;
}

footer {
    width: auto;
    height: 120px;
}
.footer-conteudo {
    display: block;
}
.footer-conteudo--info {
    padding-left: 0px;
}
.footer-conteudo--info p {
    font-size: 10px;
}

}

@media (min-width: 320px) {
    .container,.conteudo-principal h1, .conteudo-texto p, .botao-secundario, .footer-conteudo{
        width: 80vw;
    }
}